.container{
  width: 42px;
  height: 24px;
  border: 1.5px solid #53c28b70;
  border-radius: 70px;
  display: flex;
  padding: 2px;
  align-items: center;
  position: relative;
  gap: 10px;
  cursor: pointer;
}
.icon{
  font-size: 12px;
}
.ball{
  width: 15px;
  height: 15px;
  background-color: #53c28b;
  border-radius: 50%;
  position: absolute;
}