.container{

}
.imgSection{
  width: 100%;
  height: 300px;
  position: relative;
}
.img{
object-fit: cover;
filter: grayscale(100%);
}
.imgText{
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #53c28b;
  padding: 5px;
  color: #fff;
}
.textContainer{
  display: flex;
  gap: 100px;
}
.item{
  flex: 1;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.imgtitle{
  font-size: 26px;
  font-weight: bold;
}
.imgDesc{
  font-size: 18px;
  font-weight: 700;
}
.title{
  font-size: 32px;
  font-weight: 700;
}
.desc{
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}