@import "tailwindcss";
body{
  background-color: #111;
  color: #d4d4d4;
}
.theme{
  transition: 1s all ease;
}
.light{
  background-color: #fff;
  color: #111;
}
.dark{
   background-color: #111;
  color: #ddd;
}
.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}