.container {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-weight: bold;
  font-size: 21px;
}
.links{
  display: flex;
  align-items: center;
  gap: 20px;
}
.logout{
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}
.logout:hover{
  background-color: #ddd;
  color: #000;
  transition: 6ms;
}
